---

services:
  clickhouse:
    image: ${CLICK_IMAGE}
    container_name: ${CLICK_NAME}
    hostname: clickhouse
    restart: unless-stopped
    volumes:
      - ${CLICKHOUSE_DIR}:/var/lib/clickhouse:z
      - ./clickhouse_logs:/var/log/clickhouse-server:z
      - ./clickhouse/users.d/admin.xml:/etc/clickhouse-server/users.d/admin.xml:z
      - ./clickhouse/config.d/mysql.xml:/etc/clickhouse-server/config.d/mysql.xml:ro
      - ./clickhouse/config.d/postgres.xml:/etc/clickhouse-server/config.d/postgres.xml:ro
      - ./clickhouse/config.d/disable-telemetry.xml:/etc/clickhouse-server/config.d/disable-telemetry.xml:ro
    environment:
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
      CLICKHOUSE_LOG_LEVEL: WARNING
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query=SELECT 1"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    stdin_open: true
    tty: true
    ulimits:
      nofile:
        soft: ${SOFT_LIMITS}
        hard: ${HARD_LIMITS}
    ports:
      - "${HTTP_PORT}:8123"
      - "${TCP_PORT}:9000"
      - "${GRCP_PORT}:9004"
      - "${HTTPS_PORT}:9005"
